.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 80px;
}

.menu {
  display: none;
}

.menu span{
  
  width: 30px;
  height: 2px;
  background-color: var(--cor-0);
}

.header-lista{
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-lista li:last-child{
  letter-spacing: 1.25%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid var(--cor-0);
}

.header-lista li:hover{
  color: #9AE7A7;
}

.header-lista li:hover:last-child{
  border-color: #9AE7A7;
  background:  linear-gradient(#9AE7A7, #85D792);
  color: #002907;
}

@media (max-width: 800px){
  body{
    background: var(--cor-1);
  }
  .header{
    gap: 10px;
    padding-bottom: 40px;
  }
  .menu{
    display: flex;
    flex-direction: column;
    gap: 6px;
  }
  .header nav {
    display: none;
  }
}