.main-bg{
  background: url("../../img/telainicial.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 800px;
  margin-bottom: 120px;
}

.menu{
  box-sizing: border-box;
  cursor: pointer;
}

.main{
  position: relative;
}

.main p{
  width: 38ch;
  margin-bottom: 20px;
}

.aberto{
  border-top: 1px solid var(--cor-0);
  text-align: center;
  display: none;
  width: 100%;
  z-index: 1;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  background-color: var(--cor-11);
}

.ativo.aberto{
  display: block;
}


.aberto li{
  padding: 20px;
}

@media(max-width: 800px){
  .main-bg{
    height: 600px;
    margin-bottom: 60px;
  }
}

@media(max-width: 600px){
  .main-bg{
    height: 600px;
    margin-bottom: 40px;
  }
}