.reserva {
  display: grid;
  grid-template-columns: 8fr 5fr; 
  margin-bottom: 120px;
}

.reserva-img img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.reserva-conteudo {
  background: var(--cor-11);
  padding-left: 36px;
  padding-top: 72px;
  padding-bottom: 72px;
}

.reserva-conteudo h1 {
  margin-bottom: 4px;
}

.reserva-conteudo p {
  width: 28ch;
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .reserva {
    grid-template-columns: 1fr;
    padding-top: 40px;
    margin-bottom: 60px;
  }
  .reserva-conteudo{
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .reserva-conteudo p{
    width: 47ch;
  }
}

@media (max-width: 600px) {
  .reserva-conteudo p{
    width: 30ch;
    font-size: 1.25rem;
  }
  .reserva {
    margin-bottom: 40px;
  }
}
